.flex{
    display: flex;
}
.justify-centre{
    justify-content: center;
}
.space-around{
    justify-content: space-between;
}
.item-centre{
    align-items: center;
}
.upper-case{
    text-transform: uppercase;
}
.semi-bold{
    font-weight:bolder;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}